[user]
	name = Brian Svoboda
	email = bsvo@lavabit.com
	diff = auto
[credential]
	helper = cache
[color]
	status = auto
	branch = auto
[alias]
	show-graph = log --graph --abbrev-commit --pretty=oneline
[core]
	editor = vim
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
