[user]
	diff = auto
	email = bones253@gmail.com
	name = Brian Svoboda

[credential]
	helper = cache

[color]
	branch = auto
	status = auto

[core]
	editor = vim

[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	keepBackup = false
	trustExitCode = true

[github]
	user = autocorr

[alias]
	show-graph = log --graph --abbrev-commit --pretty=oneline
